In [1]:
import pandas as pd
import numpy as np

In [2]:
transcriptions = pd.read_csv('transcriptions_with_sex.csv', sep=',')

In [3]:
transcriptions

,subject_line,groundtruth,prediction,sex
0,ebb26ada-044c-4c62-9dbc-a9c8d505d31c,surname: Chardon firstname: Marie occupation: ...,nom: Chardon prénom: Marie date_naissance: 30 ...,femme
1,338496f5-e4ca-43ac-aa5c-429cb3f6ac00,surname: Lhopital firstname: Louis-Jean occupa...,nom: Lhopital prénom: Louis Jean date_naissanc...,homme
2,e6a279da-9b6f-4f49-b498-64857bc50d1e,surname: Papin firstname: Marie occupation: id...,nom: Pyrin prénom: Marie date_naissance: 55 re...,femme
3,7534deca-39e8-4f00-be17-c12460015de1,surname: Lavocat firstname: Marie link: femme ...,nom: Lavocat prénom: Marie date_naissance: 187...,femme
4,ef334a66-a504-418a-9872-e7c9db923488,surname: Benne firstname: Marguerite age: 78,nom: Benne prénom: Marguerite date_naissance: ...,femme
...,...,...,...,...
236,1d92738a-cffe-4aee-ab10-db04c37f7405,surname: Burlurut firstname: Pétronille occupa...,nom: Burlurut prénom: Gihromille date_naissanc...,femme
237,09440055-7972-4135-a537-e6c5a1f2aeb2,surname: Combey firstname: Alexandre occupatio...,nom: Comberf prénom: Alexandre date_naissance:...,homme
238,4d387278-12c3-410c-bdf0-c5c603479764,surname: Collin firstname: Marguerite occupati...,nom: Collin prénom: Marguerite date_naissance:...,femme
239,623b95de-f87c-4844-a7f7-361088eed83a,surname: Dumont firstname: Etienne link: fils ...,nom: Dumont prénom: Etienne date_naissance: 19...,homme
240,26d7839c-16a1-486e-9736-83e500fb72e5,surname: Renaut firstname: Antoinette link: be...,nom: Renaut prénom: Antoinette date_naissance:...,femme

In [4]:
sample = transcriptions.sample(29)

In [6]:
list(sample['prediction'])

['nom: Brulier prénom: Denis date_naissance: 50 lieux_naissance: agens de frataise relation: chef ',
 'nom: Chatel prénom: Jeanne date_naissance: 52 lieux_naissance: Proyustien relation: Ch ',
 'nom: Glachet prénom: Jeanne date_naissance: 1804 lieux_naissance: " relation: se fonmer ',
 'nom: Collin prénom: Marguerite date_naissance: 38 profession: femme profession: patron ',
 'nom: Loyer prénom: Georges date_naissance: 17 lieux_naissance: P ',
 'nom: Demay prénom: Joséphine date_naissance: 27 lieux_naissance: Sc lieux_naissance: iant état_civil: M ',
 'nom: Berthon prénom: Nicolas date_naissance: 1110e relation: fils ',
 'nom: Péron prénom: Pierre date_naissance: 1879 lieux_naissance: St Fourcais (S Français relation: chef profession: culsinière employeur: patron ',
 'nom: Derroyies prénom: Léonie date_naissance: 55 lieux_naissance: Aentin relation: Chef ',
 'nom: Lécoret prénom: Jean date_naissance: 12 lieux_naissance: P relation: a ',
 'nom: Dumont prénom: Marie date_naissance: 1892 lieux_naissance: id relation: fille ',
 'nom: Gaudiat prénom: Elisabeth date_naissance: 28 lieux_naissance: (lombeuse relation: chef ',
 'nom: Leseure prénom: Jacques date_naissance: 55 lieux_naissance: Savo ',
 'nom: Laurent prénom: Claude date_naissance: 57 relation: chef ',
 'nom: Lacroix prénom: Eugène date_naissance: 1204 lieux_naissance: id relation: enfant ',
 'nom: Grandchamp prénom: Gabriel date_naissance: 56 lieux_naissance: chef profession: enttinateur ',
 "nom: Lavocat prénom: Marie date_naissance: 1875 lieux_naissance: Rigny profession: '' ",
 'nom: d° prénom: Jean date_naissance: 1913 lieux_naissance: P relation: F ',
 'nom: Alvie prénom: Ernest date_naissance: 13 lieux_naissance: P relation: B ',
 'nom: Ceulon prénom: Louis date_naissance: 0 lieux_naissance: P relation: D ',
 'nom: Charrier prénom: Marguerite date_naissance: 81 lieux_naissance: épouse relation: coms prof ',
 "nom: Fleury prénom: Angloise date_naissance: 7 44 lieux_naissance: id état_civil: ' ",
 'nom: Cotte prénom: Jeanne date_naissance: 59 lieux_naissance: A état_civil: V relation: P ',
 'nom: Pamouche prénom: Jean date_naissance: 25 lieux_naissance: chef relation: cultinière ',
 'nom: Farjolle prénom: Gabriel date_naissance: 60 lieux_naissance: id profession: Turaliste employeur: patron ',
 "nom: Dumont prénom: Jeanne date_naissance: 1877 lieux_naissance: Hte Liviers (s it ) relation: femme profession: ' ",
 'nom: Eruffant prénom: Pierre date_naissance: 72 lieux_naissance: d relation: chausne ',
 'nom: Léron prénom: François date_naissance: 1907 lieux_naissance: Coulanger relation: fils ',
 'nom: Lacroix prénom: Pierre date_naissance: 3 8n lieux_naissance: f  ullle relation: chef ']

In [23]:
manual_pred = ['homme', 'femme', 'femme', 'femme', 'homme', 'femme', 'homme', 'homme', 'femme', 'homme', 'femme', 'femme', 'homme', 'homme', 'homme', 'homme', 'femme', 'homme', 'homme', 'homme', 'femme', 'femme', 'femme', 'homme', 'homme', 'femme', 'homme', 'homme', 'homme']

In [16]:
true

['homme',
 'femme',
 'femme',
 'femme',
 'homme',
 'femme',
 'homme',
 'homme',
 'femme',
 'homme',
 'femme',
 'femme',
 'homme',
 'homme',
 'homme',
 'homme',
 'femme',
 'homme',
 'homme',
 'homme',
 'femme',
 'homme',
 'femme',
 'homme',
 'homme',
 'femme',
 'homme',
 'homme',
 'homme']

In [9]:
true = list(sample['sex'])

In [25]:
sum(1 for x, y in zip(manual_pred, true) if x != y)

1

In [21]:
sample['manual_pred'] = manual_pred

In [22]:
sample

,subject_line,groundtruth,prediction,sex,manual_pred
206,f6669d6b-2320-42bb-8284-c265a6150a97,surname: Brulier firstname: Denis occupation: ...,nom: Brulier prénom: Denis date_naissance: 50 ...,homme,homme
37,f6ed3c4c-198f-4e05-b19e-d8cdcd2f8f2c,surname: Châtel firstname: Jeanne occupation: ...,nom: Chatel prénom: Jeanne date_naissance: 52 ...,femme,femme
68,42d86e4e-6a35-4945-854a-65118895d7c1,surname: Glachet firstname: Jeanne link: sa fe...,nom: Glachet prénom: Jeanne date_naissance: 18...,femme,femme
238,4d387278-12c3-410c-bdf0-c5c603479764,surname: Collin firstname: Marguerite occupati...,nom: Collin prénom: Marguerite date_naissance:...,femme,femme
179,8a95bb4e-42ee-4469-8811-08c640eabca8,surname: Loyer firstname: Georges occupation: ...,nom: Loyer prénom: Georges date_naissance: 17 ...,homme,homme
97,f672c734-ec6b-486c-91c9-d2a6d58ea92e,surname: Demay firstname: Joséphine occupation...,nom: Demay prénom: Joséphine date_naissance: 2...,femme,femme
30,8feb4993-5745-4c8f-9acf-a99b5a901ebd,surname: Berthon firstname: Nicolas occupation...,nom: Berthon prénom: Nicolas date_naissance: 1...,homme,homme
158,c5221399-f546-4930-adab-883337ba65b8,surname: Péron firstname: Pierre occupation: c...,nom: Péron prénom: Pierre date_naissance: 1879...,homme,homme
154,48cff898-8513-43e0-8ccb-2a6d134306b5,surname: Derroziers firstname: Léonie occupati...,nom: Derroyies prénom: Léonie date_naissance: ...,femme,femme
91,0f8be88a-0af5-4367-8e12-173933781a32,surname: Lécornet firstname: Jean link: idem a...,nom: Lécoret prénom: Jean date_naissance: 12 l...,homme,homme
54,3fd47653-82ab-406b-9d81-08f8aecaab0a,surname: Dumont firstname: Marie link: fille b...,nom: Dumont prénom: Marie date_naissance: 1892...,femme,femme
137,346fd1d5-740f-4d31-aed1-7ed60fdc7a39,surname: GAUDIAT firstname: Elisabeth occupati...,nom: Gaudiat prénom: Elisabeth date_naissance:...,femme,femme
207,aeea2f8e-c6de-425b-b0db-ecfd73b2e2d0,surname: Lescure firstname: Jacques occupation...,nom: Leseure prénom: Jacques date_naissance: 5...,homme,homme
203,e3a3d685-4fbf-4cb9-a42d-dc183a131ae4,surname: Laurent firstname: Claude occupation:...,nom: Laurent prénom: Claude date_naissance: 57...,homme,homme
155,f2f2f004-3efc-42ba-a337-6c6a9056716c,surname: Lacroix firstname: Eugène occupation:...,nom: Lacroix prénom: Eugène date_naissance: 12...,homme,homme
70,3979d6cb-06d6-43f4-9873-39c0ffeb0ae9,surname: Grandchamp firstname: Gabriel occupat...,nom: Grandchamp prénom: Gabriel date_naissance...,homme,homme
3,7534deca-39e8-4f00-be17-c12460015de1,surname: Lavocat firstname: Marie link: femme ...,nom: Lavocat prénom: Marie date_naissance: 187...,femme,femme
116,44ce8fa5-93c6-4c42-8255-4cec89b3fbbb,surname: Parrot firstname: Jean occupation: id...,nom: d° prénom: Jean date_naissance: 1913 lieu...,homme,homme
194,e59f5101-1415-4a2d-83e3-75a3439ecbfb,surname: Alvire firstname: Ernest occupation: ...,nom: Alvie prénom: Ernest date_naissance: 13 l...,homme,homme
131,149c3d67-0e71-4bb1-bca2-755f12e2d2ce,surname: Coulon firstname: Louis occupation: i...,nom: Ceulon prénom: Louis date_naissance: 0 li...,homme,homme
20,220dc154-d3d9-4910-87a4-0c4e1491724c,surname: Charrier firstname: Marguerite occupa...,nom: Charrier prénom: Marguerite date_naissanc...,femme,femmme
65,c4be78e9-a6a2-4f9f-a7b5-076e48f4273e,surname: Fleury firstname: Antoine link: idem ...,nom: Fleury prénom: Angloise date_naissance: 7...,homme,femme
183,54bb058b-ce24-4386-a905-19d0d560b085,surname: Cotte firstname: Jeanne occupation: s...,nom: Cotte prénom: Jeanne date_naissance: 59 l...,femme,femme
161,c970e4fb-f0f0-4acd-b744-a65e7d7a33ba,surname: Lamouche firstname: Jean occupation: ...,nom: Pamouche prénom: Jean date_naissance: 25 ...,homme,homme
107,2e7a1f9e-da62-40c7-b538-0183ea28b225,surname: Fayrolle firstname: Gabriel occupatio...,nom: Farjolle prénom: Gabriel date_naissance: ...,homme,homme
182,85f6f86d-3821-42ac-8959-a0125f773b70,surname: Dumont firstname: Jeanne link: femme ...,nom: Dumont prénom: Jeanne date_naissance: 187...,femme,femme
172,a06c270b-d32e-4a40-b04b-d554530fe305,surname: Truffaut firstname: Pierre occupation...,nom: Eruffant prénom: Pierre date_naissance: 7...,homme,homme
110,f2605816-f0cb-4da1-aefe-c1bf61986c7b,surname: Péron firstname: François link: fils ...,nom: Léron prénom: François date_naissance: 19...,homme,homme
63,66901220-fc98-4626-bc6d-0e72b1c9b63c,surname: Lacroix firstname: Pierre occupation:...,nom: Lacroix prénom: Pierre date_naissance: 3 ...,homme,homme